{% extends '@App/layout.html.twig' %}

{% block title %}
    <title>404</title>
{% endblock %}

{% block content %}

    <div style="text-align: center;" class="alert alert-danger">404 - Page introuvable</div>


{% endblock %}

{% block stylesheets %}

{% endblock %}