{% extends '@App/layout.html.twig' %}

{% block title %}
    <title>Error</title>
{% endblock %}

{% block content %}

    <div style="text-align: center;" class="alert alert-danger">Oups! Désole il semble que quelque chose n’ait pas fonctionné</div>


{% endblock %}

{% block stylesheets %}

{% endblock %}