{% extends '@App/layout.html.twig' %}

{% block title %}
    <title>Film</title>
{% endblock %}

{% block content %}
    <h1>Film {{ id }}</h1>



{% endblock %}

{% block stylesheets %}

{% endblock %}